/* common css start */
/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
body {
  background-color: #f2f4f8;
}
img {
  width: 100%;
}

/* common css end */

/* nav start */

#header {
  padding: 15px 0 0;
  background-color: #081621;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#header .top {
  display: flex;
  align-items: center;
}
#header .top .brand img {
  width: 117px;
}
#header .top form {
  width: 568px;
  position: relative;
  margin: 0 40px;
}
#header .top form input {
  border: none;
  padding: 0 40px 0 20px;
  font-weight: normal;
  border-radius: 4px;
  margin-bottom: 0;
  font-size: 15px;
  height: 42px;
  width: 100%;
}
#header .top form button {
  position: absolute;
  top: 23%;
  right: 15px;
  background-color: transparent;
  border: none;
}

#header .top form .search {
  background-color: transparent;
  padding: 5px 10px;
}
#header .top .headitems {
  column-gap: 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
#header .top .headitems .item {
  display: flex;
  align-items: center;
}
#header .top .headitems .item i {
  color: #ff0000;
  margin-right: 15px;
  font-size: 22px;
}
#header .top .headitems .item h4 {
  color: #fff;
  line-height: 20px;
  font-size: 14px;
}
#header .top .headitems .item h4 span {
  margin-top: 3px;
  display: block;
  font-size: 11px;
  line-height: 16px;
  margin: 0;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
}
#header .top .headitems .item .pcbuilder {
  display: block;
  transition: 0.5s;
  background: linear-gradient(
    45deg,
    #00237e,
    #3749bb,
    #0bc1e9,
    #3749bb,
    #00237e
  );
  background-size: 400% 400%;
  color: #fff !important;
  padding: 0px 20px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 42px;
  cursor: pointer;
  border-radius: 4px;
  animation: gradient 15s ease infinite;
  -webkit-animation: gradient 15s ease infinite;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

#header .top .headitems .item .charge {
  animation: colorcng 2s linear infinite;
  -webkit-animation: colorcng 2s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
    opacity: 1;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes colorcng {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    color: white;
  }
}
#header .navbar {
  background-color: #fff;
  margin-top: 15px;
  padding: 0;
}
#header .navbar .navbar-nav {
  width: 100%;
  justify-content: space-between;
}
#header .navbar .navbar-nav .nav-item .nav-link {
  padding: 0 7px 0 7px;
  line-height: 50px;
  white-space: nowrap;
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #222;
}
/* nav end */

/* banner start */

#banner {
  margin-top: 27px;
}
/* #banner .row{
    column-gap: 20px;
} */
#banner .baner-mid {
  background: #ffe8a1;
  padding: 25px 30px;
  box-sizing: 5px 5px 0 rgba(0, 0, 0, 0.03);
  text-align: center;
}
#banner h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.baner-mid p {
  color: #000;
  text-align: center;
  margin: 0 0 14px;
  font-size: 13px;
  opacity: 0.5;
}
.form_cmpr {
  position: relative;
}
.form-1 i {
  position: absolute;
  right: 10px;
  top: 15px;
  opacity: 0.5;
}
.form-2 i {
  top: 70px;
}
.form_box {
  border: none;
  padding: 5px 30px 5px 15px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
}
input,
select,
textarea {
  font-size: 11px;
  height: 42px;
  background: #fff;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
#banner .bnrbtn {
  background-color: transparent;
  display: inline-block;
  border: 2px solid #3749bb;
  padding: 0 20px;
  margin: 0;
  height: 42px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  color: #3749bb;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  position: relative;
  text-align: center;
  transition: all 300ms linear;
  z-index: 1;
  overflow: hidden;
}
#banner .bnrbtn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #3749bb;
  position: absolute;
  top: -106%;
  left: 0;
  transition: 0.4s;
  z-index: -1;
}
#banner .bnrbtn:hover::after {
  top: 0;
}
#banner .bnrbtn:hover {
  color: #fff;
}
.banner-sm {
  margin-top: 30px;
}

/* banner end */

/* service start */
/* service end */

/* category start */

#category {
  padding: 56px 0px;
}

#category .product-header {
  margin-bottom: 32px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px 10px;
}

.category-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
}
.category-item img {
  width: 35%;
}

.category-item h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}
.category-item:hover h4 {
  color: rgb(239, 74, 35);
}

/* category end */

/* store start */
#store {
  padding: 30px 0;
}
.findStore {
  background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
  padding: 30px 30px 21px 39px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.find-left {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.find-left i {
  font-size: 48px;
  color: #fff;
}

.find-left h3 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.find-left p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.find-right {
  background: #ef9919;
  padding: 17px 50px;
  border-radius: 50px;
  width: 240px;
}

.find-right a {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.find-right i {
  font-size: 18px;
  color: #fff;
}
/* store end */

/* product start */
#product {
  background-color: #f2f4f8;
  padding-top: 56px;
  padding-bottom: 60px;
}
.product-header {
  margin-bottom: 34px;
}
.product-header h4 {
  font-weight: 700;
  font-size: 20px;
}
.product-header p {
  font-weight: 400;
  color: rgb(1, 19, 45);
  font-size: 15px;
}

.product-items .item {
  width: 250px;
  margin-bottom: 11px;
  cursor: pointer;
}

.product-items .item .item-image {
  background-color: #fff;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
}
.product-items .item .item-image span {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 12px;
  background-color: #6e2594;
  padding: 3px 10px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  left: 0;
  top: 13px;
}
.product-items .item .item-desc {
  margin-top: 3px;
  background-color: #fff;
  padding: 16px 10px;
  height: 150px;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-items .item .item-desc h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.product-items .item .item-desc h3:hover {
  color: rgb(239, 74, 35);
  text-decoration: underline;
}
.product-items .item .item-desc h4 {
  font-size: 17px;
  margin-top: 61px;
  font-weight: 600;
  color: rgb(239, 74, 35);
  position: absolute;
  left: 14px;
  bottom: 14px;
}
.product-items .item .item-desc h4 span {
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: 600;
  text-decoration: line-through;
  margin-left: 7px;
}

/* product end */

/* description start */
#description .descriptbox h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 20px;
}
#description .descriptbox .itembox{
  display: flex;
  flex-direction: column;
}
#description .descriptbox .item h3{
    font-size: 18px;
    margin: 25px 0 12px;
}
#description .descriptbox .item p{
  margin-bottom: 10px;
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
}
#description .descriptbox .item p span{
  color: #ff0000;
}
/* description end */

/* footer start */
/* footer end */
