/* common css start */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
ul , ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
}

/* common css end */

/* nav start */
/* nav end */

/* banner start */

#banner{
margin-top: 10px ;
}
/* #banner .row{
    column-gap: 20px;
} */
#banner .baner-mid{
background: #ffe8a1;
padding: 25px 30px;
box-sizing: 5px 5px 0 rgba(0,0,0,.03);
text-align: center;
}
#banner h4{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.baner-mid p{
        color: #000;
        text-align: center;
        margin: 0 0 14px;
        font-size: 13px;
        opacity: .5;
}
.form_cmpr{
    position: relative;
}
.form-1 i{
    position: absolute;
    right:10px;
    top:15px;
    opacity: .5;
 
}
.form-2 i{
    top:70px;
 
}
.form_box{
    border: none;
    padding: 5px 30px 5px 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .05);
    text-overflow: ellipsis;
}
input, select, textarea{
    font-size: 11px;
    height: 42px;
    background: #fff;
    outline: none;
    width: 100%;
    border-radius: 4px;
}
#banner .bnrbtn{
    background-color: transparent;
    display: inline-block;
    border: 2px solid #3749bb; ;
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #3749bb;;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    position: relative;
    text-align: center;
    transition: all 300ms linear;
    z-index: 1;
    overflow: hidden;
}
#banner .bnrbtn::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #3749bb;
    position: absolute;
    top: -106%;
    left: 0;
    transition: .4s;
    z-index: -1;
}
#banner .bnrbtn:hover::after{
    top: 0;
}
#banner .bnrbtn:hover{
    color: #fff;
}
.banner-sm{
    margin-top: 30px;
}

/* banner end */

/* service start */
/* service end */


/* category start */
/* category end */


/* product start */
/* product end */

/* description start */
/* description end */

/* footer start */
/* footer end */